<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Randomizer
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="shuffleItems()">
        <ion-icon name="shuffle" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let player of players" col-6 col-sm-3>
        <ion-row>
          <mk-container #character [items]="characters"></mk-container>
        </ion-row>
        <ion-row>
          <mk-container #vehicle [items]="vehicles"></mk-container>
        </ion-row>
        <ion-row>
          <mk-container #wheel [items]="wheels"></mk-container>
        </ion-row>
        <ion-row>
          <mk-container #glider [items]="gliders"></mk-container>
        </ion-row>
        <ion-row>
          <ion-button size="small" expand="block">
            {{ player }}
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>